.Footer{
    color: white;
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333333;
}

.link_logo{
    height: 40%;
}

.links{
    width: 20vw;
    margin: 0vw 40vw;
    display: flex;
    justify-content: space-around;
}

.logo{
    height: 20%;
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kfu_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 25%;
}

.authorsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.authors{
    display: flex;
    flex-direction: column;
}

.authors_heading{
    font-size: 1.5em;
}

.author{
    font-size: 1em;
    margin-top: 10px;
}

.lastText{
    width: 100vw;
    text-align: center;
    margin-bottom: 20px;
}

.link_a{

}

/*Laptop*/
@media all and (max-width: 1690px) {

}

/*iPad Pro*/
@media all and (max-width: 1280px) {
    .link_logo{
        height: 100%;
    }

    .links{
        width: 60vw;
        margin: 0vw 20vw;
        display: flex;
        justify-content: space-around;
    }

    .logos{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50vw;
    }

    .kfu_logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 40vw;
        margin-bottom: 20px;
    }

    .authorsWrapper{
        margin-top: 30px;
    }

    .authors{
        width: 40vw;
        display: flex;
        flex-direction: column;
    }

    .authors_heading{
        font-size: 2em;
    }

    .author{
        font-size: 1.5em;
        margin-top: 10px;
    }

    .lastText{
        font-size: 2em;
        margin-bottom: 20px;
    }
}

/*iPad*/
@media all and (max-width: 980px) {
    .link_logo{
        height: 50%;
    }

    .kfu_logo{
        width: 40vw;
    }

    .authorsWrapper{
        margin-top: 30px;
    }

    .authors{
        width: 40vw;
    }

    .authors_heading{
        font-size: 1.5em;
    }

    .author{
        font-size: 1.25em;
    }

    .lastText{
        font-size: 1.25em;
    }
}

/*Mobile*/
@media all and (max-width: 480px) {
    .Footer{
        height: 85vh;
    }

    .link_logo{
        height: 50%;
    }

    .logos{
        width: 100vw;
        align-items: center;
    }

    .kfu_logo{
        width: 50vw;
    }

    .logo{
        height: 100%;
        max-width: 60vw;
    }

    .authorsWrapper{
        flex-direction: column;
        width: 100vw;
    }

    .authors{
        text-align: center;
        width: 100vw;
        margin-bottom: 20px;
    }

    .authors_heading{
        font-size: 1.5em;
    }

    .author{
        font-size: 1.25em;
    }

    .lastText{
        font-size: .75em;
    }

    .link_a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}