.Infographics{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 2em;
    font-weight: bold;
}

.infoList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}