.VideoSection{
    position: relative;
    width: 100vw;
}

.background{
    width: 100vw;
}

.video{
    height: fit-content;
    width: fit-content;
}

.video_wrapper{
    top: 25%;
    height: 100%;
    width: 50vw;
    margin: 0vw 25vw;
    position: absolute;
}

.controls{
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.playBtn{
    color: white;
    background-color: transparent;
}

/*Laptop*/
@media all and (max-width: 1690px) {

}

/*iPad Pro*/
@media all and (max-width: 1280px) {
    .background{
        height: 40vh;
    }
}

/*iPad*/
@media all and (max-width: 980px) {

}

/*Mobile*/
@media all and (max-width: 480px) {

}