.VideoSection{
    position: relative;
    width: 100vw;
}

.background{

}

.video{
    height: fit-content;
    width: fit-content;
}

.video_wrapper{
    top: 25%;
    height: 100%;
    width: 50vw;
    margin: 0vw 25vw;
    position: absolute;
}

.controls{
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.playBtn{
    color: white;
    background-color: transparent;
}