.Chronology{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
}

.chronoRow{
    display: flex;
    flex-direction: row;
    margin: 5% 0px;
}

.desc{

}

.text{

}

.heading{
    font-size: 1.5em;
}

.link{
    color: black;
    font-size: 1.5em;
}

/*Laptop*/
@media all and (max-width: 1690px) {

}

/*iPad Pro*/
@media all and (max-width: 1280px) {
    .heading{
        font-size: 3em;
    }

    .link{
        font-size: 2em;
    }
    .chronoRow{
        margin: 15% 0px;
    }
}

/*iPad*/
@media all and (max-width: 980px) {

}

/*Mobile*/
@media all and (max-width: 480px) {
    .Chronology{
        height: 40vh;
    }

    .heading{
        font-size: 1.5em;
    }

    .link{
        font-size: 1em;
    }
    .chronoRow{
        margin: 10% 0px;
    }
}