.ChronologyItem{
    margin: 0vw 1vw;
}

.chronologyItemWrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 2.5vw;
}

.time{
    left: 1.3vw;
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 25%;
}

.spacing{

}

/*Laptop*/
@media all and (max-width: 1690px) {

}

/*iPad Pro*/
@media all and (max-width: 1280px) {
    .circle{
        width: 5vh;
    }

    .spacing{
        width: 10vw;
    }

    .time{
        left: 2vw;
        font-size: 1.5em;
        top: 25%;
    }
}

/*iPad*/
@media all and (max-width: 980px) {
    .time{
        left: 1.5vw;
        font-size: 1.25em;
        top: 25%;
    }
}

/*Mobile*/
@media all and (max-width: 480px) {
    .circle{
        width: 4vh;
    }

    .spacing{
        width: 7.5vw;
    }

    .time{
        left: 2vw;
        font-size: .75em;
        top: 25%;
    }
}