.Page{

}

.heading_img{

}

.content{
    width: 100vw;
    height: 50vh;
}

.desc_wrapper{
    width: 60vw;
    height: 100%;
    margin: 10% 20vw;
}

.main{
    color: white;
    background-color: #992934;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5vw 0vw;
}

.aside{
    width: 22vw;
    margin-left: 3vw;
}

.article{
    width: 75vw;
    min-height: 80vh;
    background-color: white;
    color: black;
}

.main:after{
    position: absolute;
    background-color: #992934;
    width: 350%;
    top: -35%;
    transform: rotate(-2.5deg);
    z-index: -1;
    height: 450%;
    left: 0;
    content: '';
}

/*Laptop*/
@media all and (max-width: 1690px) {

}

/*iPad Pro*/
@media all and (max-width: 1280px) {
    .desc_wrapper{

    }

    .aside{

    }

    .article{
        width: 70vw;
    }
}

/*iPad*/
@media all and (max-width: 980px) {

}

/*Mobile*/
@media all and (max-width: 480px) {
    .desc_wrapper{
        font-size: 1em;
    }

    .aside{
        width: 90vw;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .article{
        width: 90vw;
        margin: 5vw;
    }

    .main{
        flex-direction: column;
    }

    .main:after{
        top: -15%;
    }
}