.Feedback{
    display: flex;
    flex-direction: column;
}

.infoBlock{
    display: flex;
    flex-direction: row;
}

.form{
    display: flex;
    flex-direction: row;
}

.info{

}

.logos{
    display: flex;
    flex-direction: row;
}

.logo{

}

.col{
    display: flex;
    flex-direction: column;
}