.MainSection{
    position: relative;
    color: white;
}

.img{
    width: 100vw;
}

.sectionContent{
    position: absolute;
    width: 50vw;
    margin: 0vw 25vw;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.heading {
    margin-top: 20%;
    margin-bottom: 30%;
    font-size: 3em;
}

.years{
    font-size: 3em;
}

/*Laptop*/
@media all and (max-width: 1690px) {

}

/*iPad Pro*/
@media all and (max-width: 1280px) {
    .heading {
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 2em;
    }
}

/*iPad*/
@media all and (max-width: 980px) {

}

/*Mobile*/
@media all and (max-width: 480px) {
    .heading {
        margin-top: 10%;
        margin-bottom: 15%;
        font-size: 1em;
    }
    .years{
        font-size: 1em;
    }
}